Q1. Create one variable containing following type of data:

#Answer 

(i) string...  a= 'sabreen'

(ii) list....  b= [ 2,4,8, True, False, 89.980, 5+3j,"hemanth"]

(iii) float... c= (89.0808)

(iv) tuple...  d= ( True, 4, 'gandhinagar',False)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [19]:
var1=' '

In [20]:
type(var1)

str

In [30]:
var2= ' [DS, ML, Python]'

In [31]:
type(var2)

str

In [33]:
var3= [ 'DS', 'ML', 'Pytrhon' ]

In [34]:
type(var3)

list

In [35]:
var4=1

In [36]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) /.... Division Operator

Division operator performs division between two numbers and returns the quotient as a floating-point number.( a decimal number)

for eg:

In [60]:
a= 10
b= 5
c = a/b
print("The result of", a, "divided by", b, "is" ,c)

The result of 10 divided by 5 is 2.0

(ii) %... ModulUs Operator

The Modulus operator is used to calculate the remainder when one number is divided by another. It is commonly used in programming languages to perform tasks such as checking for divisibility, cycling through a sequence of values,or implementing wrap-around behaviour.

In [2]:
a=10
b=2
c=a%b
print("The result of", a, "divided by", b, "is", c)

The result of 10 divided by 2 is 0

(iii) //... floor division operator:
    
    It performs division between two numbers and returns the quotient rounded down to the nearest whole number. It discard the decimal
    part of the result.

In [5]:
numb1=10
numb2=3

numb3= numb1//numb2
print(numb3)

3

(iv) **... Exponent operator
     The exponent operator is used to raise a number to a certain power. It calculates the result of exponentiation, where the 
    left operand is base and the right operand is the exponent.

In [9]:
var1=2
var2=4
var3=var1**var2
print(var3)

16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [11]:
my_list= [ 800, 'mumbai indians', 45.65678, False, "iplmatch", True, 5+3j, 400, 'naaz', 6+2j]
for i in my_list:
    print(i)
    print(type(i))

800
<class 'int'>
mumbai indians
<class 'str'>
45.65678
<class 'float'>
False
<class 'bool'>
iplmatch
<class 'str'>
True
<class 'bool'>
(5+3j)
<class 'complex'>
400
<class 'int'>
naaz
<class 'str'>
(6+2j)
<class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [8]:
A=70
B=14
t=0
while A>=0:
    prev_A=A
    A=A-B
    t+=1
t-=1
if prev_A==0:
    print("Divisible by",t,"times")
else:
    print("Not divisible")

Divisible by 5 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [10]:
list= [ 6, 600, 5, 2, 8, 900, 4,1, 2,200,4000,5,67,89,90,56,23,43,45,54,61,29,87,62,71]
for i in list:

    if i%3==0:
        print(i,'it is divisable')
    elif i%3!=0:
        print(i,'not divisable')

6 it is divisable
600 it is divisable
5 not divisable
2 not divisable
8 not divisable
900 it is divisable
4 not divisable
1 not divisable
2 not divisable
200 not divisable
4000 not divisable
5 not divisable
67 not divisable
89 not divisable
90 it is divisable
56 not divisable
23 not divisable
43 not divisable
45 it is divisable
54 it is divisable
61 not divisable
29 not divisable
87 it is divisable
62 not divisable
71 not divisable

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

1) Mutable data type:
    Mutable data type refers to those types of data whose elements can be changed, modified or can be reassigned individually.
    list is one kind of mutable data as because we can reassign the each and every element their.

In [22]:
my_list= [ 6, 'king', 78.90, 'queen', False,10 ]
my_list[-1]=11
print(my_list)

[6, 'king', 78.9, 'queen', False, 11]

2) Immutable data type:
    Where reassignment of data is not possible on a particular index, that data will be called as immutable data
    type.String is one of the example for immutable data type.

In [24]:
my-str = "bengaluru"
my-str[3]=h
print( my-str)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (160312517.py, line 1)

In [ ]:
From the above output we can see that it is showing error because str type of data cannot be mutate.